@model IEnumerable<Genres> 
@{
	ViewData["Title"] = "Genres";
}

<h3>Genres</h3>
<h4>Welkom,  @ViewBag.Klant @ViewBag.Naam  </h4>
<div class="klik"><h5>Klik op het gewenste genre</h5></div>
@if (Model == null || Model.Count() == 0)
{
	<h3>Er zijn geen Genres gevonden</h3>
}
else
{
	<table class="table table-bordered">
		<thead>
			<tr>
				@foreach (var Genre in Model)
				{
					<td><a asp-action="GenreFilms" asp-route-id="@Genre.GenreId"/>@Genre.GenreNaam</td>

				}
			</tr>
		</thead>	
	</table>

	
}