html {
  font-size: 14px;
}

@media (min-width: 768px) {
 html {
    font-size: 12px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img.afbeelding {
    height: 200px;
    margin-bottom: 20px;
}

img.icon{
    height: 20px;
    width:20px;

}

input {
    display: block;
    margin-bottom: 10px;
}


.btn {
    background-color: blue;
    color: white;
}

.afrekenen{
    background-color:aqua;
}

a {
    text-decoration: none;
}

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.klik {
    background-color:cyan;
    color:cadetblue;
    height:30px;
    margin-bottom:10px;
}